name: CI
on:
  push:
    branches:
      - main
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '14', '16', '18'  ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node  }}
      - run: npm ci
      - run: npm run test

  deploy:
    name: deploy
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18
      - name: npm install
        run: npm install
      - name: npm run build
        run: npm run build
      - name: Generate docs
        uses: andstor/jsdoc-action@v1
        with:
          source_dir: ./lib
          output_dir: ./docs
          template: minami
          front_page: README.md

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./docs
